export GOOSE_MIGRATION_DIR=./migrations
export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING="postgres://iamstep4ik:iamstep4ik@localhost:5432/homework?sslmode=disable"
export SIGNING_KEY="idvojdov8uwe0eri0ew9fjiovjsw89"